/*footer css */

/***** Footer *****/

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3, h4, .footer-article { padding-bottom: 10px; color: #fff;
    /*font-family: "Josefin Sans", sans-serif; */}

.footer-about img.logo-footer { max-width: 100px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666;   font-family: "Josefin Sans", sans-serif; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; color: #fff }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #444; text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; color: #fff }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }
