@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

h1{
    font-family: "Josefin Sans", Sans-serif, sans-serif;
    color: #000000;
    font-weight: 700;
}

h2{
    font-family: "Red Hat Display", sans-serif;
    color: #000000;
    font-weight: 700;
}
.paragraph{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
}
p{
    font-family: "Josefin Sans", Sans-serif, sans-serif;
}

.heading{
    font-family: "Red Hat Display", sans-serif;
    color: #000000;
    font-weight: 700;
}

.heading_details{
    font-family: "Josefin Sans", Sans-serif, sans-serif;
    color: #000000;
}
