
/*body part*/
body{
    /*font-family: "Josefin Sans", sans-serif;*/
}



/*header part*/

/*header navbar*/


/*header part end*/

/*body part*/
.body{
    margin-top: 100px;
    padding-top: 60px  ;
    padding-bottom: 160px;
}
/*top_content*/
.top_content{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 20px 60px 20px !important;
    font-family: "Josefin Sans", Sans-serif, sans-serif;
    font-weight: 700;
}
/*top_content end*/

/*element section*/
.element_section_one{
    font-family: "Josefin Sans", sans-serif;
    padding: 60px 20px 60px 20px;
}
.element_section_one span p{
    color: #4A4F55;
}
.element_section_one ul{
    list-style: none;
}

/*element section end*/

/*Article Section*/
.article_section{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    padding: 60px 20px 60px 20px;

}

.article_section .article p{
    color: #4A4F55;

}
/*Article Section end*/

/*elementor section*/
.elementor_section{
  font-family: "Josefin Sans", sans-serif;

}
.padding img{
    padding-bottom: 330px;
}
.elementor_section p{
    text-align: justify;
}

/*elementor section end*/

/*our team part*/
.team-area p, h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
}

/*our team part end*/

/*contacts part*/
.contacts-part{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    padding: 160px 20px 160px 20px;
}
/*contacts part*/

/*section image*/
.section_img img{
    width: 100%;
    height: 500px;
}
/*section image end*/

a img{
    width: 50px;

}

/*sign_in Sign_up page */

@media(max-width:1288px){
    .main-menu nav ul li {
    padding: 40px 10px;
}
}

.li-bold{
    font-weight: bold;
}
.navbar {
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
}







