
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

h1{
    font-weight: 400;
}
span{
    font-family: 'Red Hat Display', sans-serif !important;
    font-weight: bold;

}

.image{
    width: 200px;
}

.heading{
    color: black !important;
    font-weight: bold !important;
}
h4 a{
    font-family: 'Red Hat Display', sans-serif;

    color: #00BFFF  ;
    font-weight: bold;
    transition: all 0.5s ease;
}

h4 a:hover{
    color: red;
}
p{
    font-family: "Josefin Sans", Sans-serif, sans-serif;
}

#image{
    height: 500px;
}