.select-btn{
    color: #0b0b0b;
    font-size: 20px;
    margin-top: -10px;
    padding-top: 18px;
    border: 1px solid #4b4848;
}

.control-label{
   margin-top:  -65px;
    color: #afabab;
}



.summary_card{
    padding: 30px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: "Red Hat Display", sans-serif;



}

.payment_button{
    width: 100%;
   /*padding: 20px;*/
    background-color: #f34141;


}
.payment_button a{
    display: block;
    width: 100%;
    padding: 20px;
    height:100%;
    color: #ffffff;
    text-align: center;
    font-size: 20px;

}

