
body {
    background: #fff;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Myriad-Pro-regular';
    font-size: 14px;
    line-height: 26px;
    word-wrap: break-word;
    width:100%;
}
a {
    text-decoration: none;
    transition: all 0.6s;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none !important;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin: 0 0 12px;

}
.bg-light{
    background-color: #f3f3f3 !important;
}
.text-primary{
    color: #F05351 !important;
}
button{
    cursor: pointer;
    outline: 0 !important;
}
/***** Header *****/
.header {
    background-color: #000;
    padding: 12px 0 5px;
}
.header .catebar li{
    margin-right: 0px;
}
.header .nav-link {
    color: #fff;
    font-size: 13px;
    padding: 0 4px;
    font-family: 'Myriad-Pro-bold';
}
.header .nav-link:hover {
    color: #ffc107;
    text-decoration: underline;
}
.search_cat_btn{
    padding:0px;
}
.header .selectbox {
    width: 80px;
    outline: 0;
    text-align:center;
}
.site-logo img {
    width: 150px;
}
.glow-location div {
    line-height: 1.2;
}
.glow-location i {
    font-size: 24px;
}
.form-icon button {
    font-size: 18px;
}
.login-drop li>a {
    margin-right: 8px;
    position: relative;
    line-height: 1;
}
.login-drop li>a > i {
    font-size: 20px;
}
@-moz-document url-prefix() {
 .category_profile .mbcarticon .count{
  right: 7px;
}
.carticon .count{
 right: 7px !important;
}
}

.carticon .count {
    text-align: center;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 12px;
    background-color: #61ce70;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    padding-top: 1px;
    display: block;
    line-height: 1;
}
.usericon i {
    font-size: 18px;
}
.carticon img, .worldicon img {
    width: 22px;
}
.dropdown-menu:not(.datetimepicker) {
    min-width: 240px;
    left: auto !important;
    right: 0;
    font-size: 14px;
    padding: 12px;
    margin-top: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    transform: translate3d(0px, 30px, 0px) !important;
}
.dropdown-menu:after {
    content: "";
    position: absolute;
    right: 12px;
    top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #ffffff transparent;
}
.dropdown-menu li:not(:last-child) {
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.dropdown-menu li a {
    color: #777;
    line-height: 24px;
}
.language-selecter .spanlang {
    width: 20px;
    height: 20px;
    border: solid 1px #ddd;
    display: block;
    border-radius: 50px;
    float: right;
    position: relative;
}
.language-selecter .spanlang:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #e77600;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    border-radius: 50px;
    transform: translate(4px, 4px);
    opacity: 0;
}
.language-selecter:hover .spanlang:after{
    opacity: 1;
}
.card-sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:  -100%;
    box-shadow: rgba(67, 41, 163, 0.1) 0px 0px 0px 1px, rgba(67, 41, 163, 0.1) 0px 1px 8px 0px;
    z-index: 999;
    transition: all 0.8s ease-in-out;
    overflow: auto;
    visibility: hidden;
}
.card-sidebar.active{
    visibility: visible;
    left: 0;
}
.card-sidebar .cart-header {
    padding: 15px;
    border-bottom: solid 1px rgba(0,0,0,.1);
    background-color: #000;
}
.cart-header .logo img {
    height: 42px;
}

/***** Cart *****/
.cart_page .product_thumb img {
    height: 70px;
}
.cart_page table th {
    border-color: #f3f3f3;
    background-color: #f3f3f3;
    border-bottom-color: #dee2e6;
    text-align: center;
    font-size: 16px;
}
.cart_page table td {
    min-width: 100px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}
.cart_page table td.product_quantity input {
    border: solid 1px #ebebeb;
}
.coupon_code input {
    border: 1px solid #ebebeb;
}
.bg-dark {
    background-color: #000!important;
}
.cart-sidebar.active {
    right: 0;
    visibility: visible;
}
.cart-sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: rgba(67, 41, 163, 0.1) 0px 0px 0px 1px, rgba(67, 41, 163, 0.1) 0px 1px 8px 0px;
    z-index: 99999;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
}
.orderitem .cart-header {
    padding: 15px;
    background-color: #fff;
    border-bottom: solid 1px rgba(0,0,0,.1);
}
.cart-sidebar .cart-inside {
    overflow-y: auto;
    max-height: calc(60vh - 130px);
}
.orderitem .orderitem-container {
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding: 12px 15px;
    font-size: 15px;
    color: rgba(0,0,0,.35);
    cursor: pointer;
}
.orderitem .orderquantity {
    max-width: 20%;
    flex: 20%;
    border: solid 1px #eee;
    margin-right: 6px;
}
.orderquantity img {
    height: 60px;
}
.orderitem .ordername {
    max-width: 70%;
    flex: 70%;
}
.orderitem .orderdelete {
    max-width: 10%;
    flex: 10%;
}
.orderdelete button.btn-delete {
    background-color: #ff6260;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 0;
    font-size: 10px;
}
.btn-text-p{
  vertical-align: middle;
}

.cart-sidebar .checkoutbutton {
    padding: 16px;
    background-color: #fff;
    border-top: solid 1px #eee;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
/***** Product List *****/
.product-list {
    padding: 10px 9px 10px;
    -webkit-transition: all 0.4s ease-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 8px #e4e4e4;
}
.product-list .sale-label {
    position: absolute;
    right: 0;
}
.sale-label:after {
    border-left: 12px solid transparent;
    border-right: 45px solid #C21805;
}
.product-list .product-image {
    height: 180px;
    overflow: hidden;
}
.product-list .product-image img {
    height: 100%;
    object-fit: contain;
}
.product-list .productcolor {
    font-size: 12px;
    font-weight: 600;
    color: #767676;
}
.text-success {
    color: #52b45f!important;
}
html[lang="fr"] .product-list .product-actions > a {
    max-width: 150px;
    height: 38px;
    font-size: 13px;
    line-height: 2;
}
html[lang="fr"] .product-list:hover .btn-compare {
    left: 79%;
}
.add-to-links .action-btn {
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    width: 38px;
    height: 38px;
    line-height: 38px;
    opacity: 0;
}
.product-list:hover .product-overlay {
    opacity: 1;
    transform: scale(1) translate(0px, -20px);
    transition: all 0.4s cubic-bezier(0.38, 0.76, 0, 0.87);
}
.product-list:hover .btn-wishlist {
    left: 8%;
    opacity: 1;
}
.product-list:hover .btn-compare {
    opacity: 1;
    left: 76%;
}
.btn{
    box-shadow: none !important;
}
.btn-outline-dark:hover{
    border-color: #000 !important;
    background-color: #000 !important;
}
.product-list .pricedetail {
    height: 100px;
    overflow: hidden;
}
.products-per-page {
    font-size: 16px;
}
.per-page-variation {
    display: inline-block;
    padding: 0 5px;
    color: #8E8E8E;
}
.per-page-border:after {
    content: "/";
}
select.sorting {
    border-bottom: solid 1px #ccc !important;
    padding: 5px 0px;
    color: #000;
    outline: 0;
    font-weight: 600;
    max-width: 140px;
}
.page_number .pagi_link {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 6px;
    border-radius: 50px;
}
.page_number .pagi_link.next {
    border: solid 1px #000;
}
.page_number .pagi_link.active {
    background-color: #000;
    color: #fff;
}
.wishlist-image, .prodetail-image {
    border: solid 1px #f3f3f3;
}
.wishlist-image img {
    height: 198px;
}
.wishlistrow{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #ebebeb;
}
.btn {
    white-space: normal;
    font-weight: 600;
    letter-spacing: 0.5px;

}
.prodetail-image img{
    height: 270px;
}
/***** Product Detail *****/
.prodetail-qty .rounded {
    display: inline-block;
    border: 1px solid #cecece;
}
.prodetail-qty .value-button {
    display: inline-block;
    width: 50px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 28px;
    line-height: 40px;
    background-color: #e5e5e5;
}
.prodetail-qty form #decrease {
    margin-right: -4px;
}
.prodetail-qty form #increase {
    margin-left: -4px;
}
.prodetail-qty input#number {
    text-align: center;
    border: none;
    width: 45px;
    margin-left: 8px;
    font-size: 18px;
    color: #C21805;
}
#product-slide .owl-item {
    padding:  10px;
}
#product-slide .owl-prev, #product-slide  .owl-next {
    position: absolute;
    top: 45%;
    color: #000000 !important;
    background-color: transparent !important;
    font-size: 50px !important;
}
.addbtn img {
    height: auto;
}
.owl-carousel .owl-next {
    right: -30px;
}
.owl-carousel .owl-prev {
    left: -30px;
}
.btn-blue{
    background-color: #0081ff;
    border-color: #0081ff;
    color: #fff;
}
.btn-light {
    color: #666666 !important;
    background-color: #f3f3f3 !important;
    border-color: #666666 !important;
}
.btn-blue:hover {
    color: #0081ff;
    background-color: #fff;
    border: 2px solid #0081ff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19) !important;
}
.btn-success {
    background-color: #1da245;
    border: 2px solid #1da245;
    color: #fff;
}
.btn-success:hover {
    color: #1e7e34;
    background-color: #fff;
    border: 2px solid #1da245;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19) !important;
}

/*.btn-success {
    background-color:#28a745   !important;
    border-color: #28a7a7  !important;
    color: #fff !important;
}*/
.btn-primary {
    background-color: #0973e7;
    border-color: #0973e7;
    color: #fff !important;
}
.giftblock .gift-image {
    height: 350px;
    overflow: hidden;
}
.giftblock .gifttitle {
    max-width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 22px;
    z-index: 99;
    box-shadow: none;
    background: transparent !important;
}
.owl-image {
    height: 300px;
    overflow: hidden;
}
.owl-nav [class*="owl-"] {
    font-size: 32px !important;
    color: #fff !important;
    background-color: #000 !important;
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 0px;
    margin: 0 !important;
}
.owl-nav .owl-prev {
    left: 0 !important;
}
.owl-nav .owl-next {
    right: 0 !important;
}
.owl-nav [class*="owl-"] span {
    position: relative;
    top: -2px;
}
#product-slide .owl-nav .owl-prev {
    left: -25px !important;
}
#product-slide .owl-nav .owl-next {
    right: -25px !important;
}
button.vjs-big-play-button {
    left: 0 !important;
    right: 0 !important;
    top: 50% !important;
    margin: 0 auto;
    transform: translate(0px, -30px);
}
.my-player-dimensions {
    width: 100%;
}
.upload_page .gift-image {
    height: auto;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn-wrapper input[type=file]{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
}
textarea.form-control {
    height: 100px !important;
}
.userreview {
    border: 1px solid #ebebeb;
    padding: 15px;
    margin-bottom: 20px;
}
.f-size16{
    font-size: 16px;
    line-height: 28px;
}
.contact_block {
    display: block !important;
}
.contact_block .contact_detail {
    overflow: hidden;
}
.contact_info {
    background-color: #fbfbfb;
    padding: 30px 25px;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.03);
}
.contact_info .contact_icon {
    width: 39px;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    background-color: #000;
}
/***** FAQ *****/
#accordion h5 span {
    display: block;
    width: 95%;
    cursor: pointer;
}
#accordion h5[aria-expanded="true"] {
    border-bottom: solid 1px #dfdfdf;
}
#accordion h5[aria-expanded="true"] i {
    transform: rotate(180deg);
}
#accordion h5 i {
    transition: all 0.8s ease;
}
.faq-page .content-box {
    cursor: pointer;
    background-color: #222;
}
.faq-page .box-icon {
    width: 90px;
    height: 90px;
    line-height: 108px;
    color: #000;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.content-box .box-icon:before{
    content: "";
    top: 0;
    left: 0;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
}
.content-box:hover .box-icon{
    background-color: #fff !important;
}
.content-box:hover .box-icon:before{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}
.desh_block .desh_icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #222;
}
.desh_block {
    min-height: 150px;
}
main.maincontent {
    min-height: calc(100vh - 131px - 156px);
}
.giftrow {
    border: solid 1px #e4e4e4;
    padding: 15px;
    line-height: 24px;
    border-radius: 5px;
}
.giftbtn {
    background-color: #dad3d3;
    color: #000;
    padding: 7px 10px;
    font-size: 14px;
}
.giftrow .gift-logo img {
    width: 60px;
    transform: rotate(-30deg) translate(-5px, 15px);
}
.gift-content {
    overflow: hidden;
}
figure.thumbnail-image img {
    width: 80px;
    padding: 2px;
    height: 80px;
    object-fit: cover;
}
.cart-content {
    font-size: 16px;
}
.font-normal{
    font-family: 'Myriad-Pro-regular';
}
.pricebtn {
    border: 1px solid #bfbfbf;
    cursor: pointer;
    padding: 9px 20px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.radiobtn span {
    padding: 10px 20px;
    border: 1px solid #bfbfbf !important;
    color: #bfbfbf;
    font-size: 16px;
    font-family: 'Myriad-Pro-bold';
    cursor: pointer;
}
.radiobtn input[type="radio"]{
    display: none;
}
.giftdetail .textinline {
    width: 15%;
    text-align: right;
}
.header .logintxt {
    border-left: solid 1px rgba(255, 255, 255, 0.4);
    padding-left: 15px;
    margin-left: 15px;
    color: #d9b03a;
}
.showbtn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    line-height: 1;
}
table.ordertable th, table.ordertable td {
    border: solid 1px #dee2e6;
}
.category_profile li a i {
    font-size: 22px;
}
.category_profile li a .pro-head {
    color: #d9b03a;
    line-height: 1;
    padding-top: 8px;
    font-size: 12px;
}
.category_profile li {
    flex: auto;
}
.card-sidebar .currencyicon img, .card-sidebar .menuclose img, .card-sidebar .supporticon img {
    width: 28px;
}
.category_profile .carticon .count {
    top: 4px;
}
.card-sidebar .category_profile {
    padding: 0px 10px 3px;
}
.category_profile li > .dropdown-menu {
    min-width: 180px;
}
.category_profile .carticon img {
    width: 23px;
}
.card-sidebar .cat_loginbar {
    padding: 1px 18px 22px;
    font-size: 18px;
    margin-bottom: -1px;
    margin-top: -1px;
}
.card-sidebar .cat_loginbar .logintxt {
    color: #d9b03a;
    border-left: solid 2px rgba(255, 255, 255, 0.3);
    padding-left: 10px;
    margin-left: 8px;
    line-height: 1;
}
.card-sidebar .cat_loginbar .dropdown-menu {
    left: 0 !important;
}
.card-sidebar .cat_loginbar .dropdown-menu:after {
    left: 0;
    right: 0;
    margin: auto;
}
.header .searchbar > .dropdown-menu {
    padding: 0;
    min-width: 100% !important;
    margin-top: 15px !important;
}
.header .searchbar input.form-control {
    font-family: 'Myriad-Pro-regular';
}
.header .searchbar > .dropdown-menu:after {
    border: 0;
}
.header .searchbar > .dropdown-menu .form-icon {
    position: relative;
    top: 4px;
}
.deliever_address {
    background: -webkit-linear-gradient(90deg, rgba(65,3,15,1) 0%, rgba(108,3,25,1) 100%);
    color: #fff;
    font-size: 16px;
    padding: 12px 18px;
    overflow: hidden;
}
.deliever_address .deliever_icon img {
    width: 18px;
}
.deliever_address .deliever_txt {
    overflow: hidden;
}
.wishlistbtn .btn {
    padding: 14px 15px;
}
.socialuser {
    border: solid 2px #fff;
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.btn-lg {
    font-size: 16px;
}
html[lang="fr"] .header .nav-link {
    font-size: 12px;
    padding: 0 2px;
}
.activeAddress {
    border-color: #61ce70 !important;
    color: #61ce70 !important;
}
.head_login .dropdown-menu {
    left: 0 !important;
}
.head_login .dropdown-menu:after {
    right: auto;
    left: 3px;
}
.country_drop .dropdown-menu:after {
    right: auto;
}
.country_drop .dropdown-menu {
    left: 0 !important;
    top: 12px !important;
    height: 200px;
    overflow: auto;
    min-width: 300px !important;
}
.country_drop .dropdown-menu li a span {
    font-size: 14px;
    line-height: 1.3;
}
.country_drop .dropdown-menu li a .delivered-country-img,
.mob_country_drop .dropdown-menu li a .delivered-country-img{
    float: left;
    margin-right: 7px;
}
.country_drop .dropdown-menu li a .delivered-country-name,
.mob_country_drop .dropdown-menu li a .delivered-country-name{
    display: block;
    overflow: hidden;
}
.giftdetail #countries_msdd {
    width: 260px !important;
}
.card-sidebar .cat_loginbar .img-usericon {
    border: solid 2px #fff;
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50px;
}
.contact_info .submit_btn .btn {
    margin: 2px 0;
}
.scrolltable th, .scrolltable td {
    white-space: nowrap;
    vertical-align: middle;
}
.card_prev_img {
    height: 200px;
    object-fit: cover;
}
.checkout_page .orderquantity img {
    width: 60px;
    object-fit: contain;
}
.mob_country_drop > .dropdown-menu {
    min-width: 100%;
    margin-top: 28px;
    border-radius: 0;
}
.mob_country_drop > .dropdown-menu:after {
    border: 0;
}
.mobbag {
    font-size: 18px;
    color: #585858;
}
.mobbag h5 {
    color: #4b4e5c;
}
.mobbag .actionbtns .btn {
    padding: 15px 10px;
    line-height: 1;
}
.mobbag .bagtxt {
    overflow: hidden;
}
.mobbag .bagtxt .baglft {
    width: 60%;
}
#search_countries li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #eee;
}
.ch_bnt_link{
background: none;
border: none;
padding: 0;
color:#069;
text-decoration: none;
cursor: pointer;
}
.red-error-star {
    color: red;
    margin-left: 5px;
    vertical-align: middle;
}
 /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            .banr-a {
                height:auto !important;
            }
        }

        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
           .banr-a {
                height:auto !important;
            }
        }

        /* Media Query for Large screens */
        @media (min-width: 1281px) {
           .banr-a {
                height:auto !important;
            }
        }


/* ===============================================
2nd part css start
=================================================*/



.socialbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialbutton a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.socialbutton .btn-block+.btn-block{
    margin-top: 0;
}
.socialbutton .btn-block{
    margin-right: 10px;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1200;
    transition: all .8s;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
}
.social-shere h2{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.social-shere ul li{
    list-style: none;
    margin-right: 10px;
}

.social-shere ul{
    display: flex;
    padding-left: 0;
}

.social-shere ul li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000;
    border-radius: 50%;
}
.social-shere ul li a:hover{
    background: #000;
    color: #fff;
}
.social-shere ul li a i{
    padding-top: 0!important;
}

.sub-btn{
    background: #000;
    border: 1px solid #666;
    cursor: pointer;
}
.sub-opt{
    color: #fff;
    /*background-image:#333;*/
    background-color: #000!important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    padding-left: 5px!important;
    cursor: pointer;
    box-shadow: none;
    border: none;
 }

 .pricebtn.activePrice{
    border: 2px solid #61ce70!important;
}


/* order */


/*trucking-area*/
.trucking-area{
    padding: 40px 0;
  }
  .truking-wrap{
    padding: 30px;
    background: #fff;
  }
  .trucking-img{
    width: 155px;
    height: 155px;
    line-height: 155px;
    background: #f5f5f5;
    position: relative;
    border-radius: 50%;
    text-align: center;
    transition: all .3s;
    margin:auto;
  }
  .trucking-img:before {
      position: absolute;
      left: -15px;
      top: -15px;
      width: 120%;
      height: 120%;
      border: 1px dashed #9f9f9f;
      content: "";
      border-radius: 50%;
  }
  .trucking-content{
    margin-top: 40px;
  }
  .trucking-single:hover .trucking-img:before {
    border: 1px dashed #ffc107;
  }
  .trucking-single {
      position: relative;
      margin-bottom: 30px;
  }
  .trucking-single:hover .trucking-img{
    background: #ffc107;
  }

  .active-img{
      position: absolute;
      left: 50%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      transform: translateX(-50%);
  }
  .normal-img{
    transition: all .3s;
  }
  .trucking-single:hover .active-img{
    opacity: 1;
    visibility: visible;
  }
  .trucking-single:hover .normal-img{
    opacity: 0;
    visibility: hidden;
  }
  .truking-wrap{
    position: relative;
  }
  .truking-wrap:before {
      position: absolute;
      left: 12%;
      top: 50%;
      width: 76%;
      height: 10px;
      background: #b3b3b3;
      content: "";
  }
  .trucking-single .active .active-img{
    opacity: 1;
    visibility: visible;
  }
  .trucking-single .active .trucking-img{
    opacity: 1;
    visibility: visible;
  }
  .trucking-single .active:before {
    border: 1px dashed #ffc107;
  }
  .trucking-single .active{
    background: #ffc107;
  }
  .trucking-content h2{
    font-size: 19px;
    font-weight: 700;
    color:#727272;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
  }
  .truck-header {
      margin-bottom: 60px;
  }
  .truck-header h2{
      font-size: 24px;
      font-weight: 700;
      color:#ffc107;
      position: relative;
  }

  .order-details{
    padding: 30px;
    background: #fff;
    margin-bottom: 40px;
    background: #f8f8f8;
  }

  .order-details-list ul li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    color:#646464;
    font-weight: 700;
    position: relative;
  }
  .order-details-list ul li:before{
    position: absolute;
    left: 50%;
    top: 0;
    content: ":";
    transform: translateX(-50%);
    font-weight: 700;
  }
  .order-details-list ul li span{
    font-weight: 500;
    color:#8b8b8b;
  }
  .order-details-list h2{
    text-align: center;
    color:#ffc107;
    font-size: 28px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .order-details-wrap{
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed #f1f1f1;
  }
  .order-details-list-2 {
      flex-basis: 50%;
      padding-bottom: 0;
      padding-top: 30px;
  }
  .truck-header-2 h2{
      font-size: 24px;
      font-weight: 700;
      color: #ffc107;
      position: relative;
      padding-bottom:35px;
      border-bottom: 1px dashed #f1f1f1;
  }
  .order-1{
    padding-right: 35px;
  }
  .order-2{
    padding-left: 35px;
  }
  .order-d-header{
    padding: 15px 0;
  }
  .order-d-header h3{
    font-size: 22px;
    font-weight: 700;
    color: #646464;
  }
  .details-list ul li {
      border: 1px solid #d7d7d7;
      border-left: 0;
      margin-bottom: -1px;
  }
  .details-list ul li{
    padding: 0;
    padding: 30px 30px;
  }
  .details-list{
    padding: 0;
  }
  .order-details-2 {
      padding: 0;
      padding-top: 30px;
      padding-bottom: 40px;
  }
  .order-3 ul li{
    border:none;
  }
  .od-r p{
      color: #646464;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 700;
  }
  .od-r {
      border: 1px solid #d7d7d7;
      padding-top: 20px;
      margin-left: -1px;
      margin-bottom: -1px;
      border-right:none;
  }

  .order-3 ul li{
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-weight: 500;
  }
  .details-list-n ul li:before {
      top: 30px;
  }
  .order-d-header{
    padding-left: 30px;
  }
  .order-details-2 .truck-header-2 h2{
    padding-left: 30px;
  }
  .od-r-2{
    padding-bottom: 30px;
  }
  .order-details-wrap-2{
    border-bottom:none;
  }

  .truking-wrap{
    background: #f8f8f8;
  }

  @media(max-width:991px){
    .trucking-img {
        width: 100px;
        height: 100px;
        line-height: 100px;
  }
  .trucking-img:before {
    position: absolute;
    left: -10px;
    top: -10px;
  }
  .trucking-content h2 {
    font-size: 14px;
  }
  .truking-wrap:before {
    left: 12%;
    width: 70%;
  }
}

  @media(max-width:767px){
    .trucking-img {
        width: 90px;
        height: 90px;
        line-height: 90px;
    }
    .trucking-img:before {
        left: -8px;
        top: -8px;
    }
    .order-details-list h2 {
        font-size: 18px;
    }
}
  @media(max-width:575px){
    .truking-wrap:before{
        display: none;
    }
}
  @media(max-width:450px){
    .trucking-content h2 {
        font-size: 10px;
    }
}

.order-details-list ul{
    padding-left: 0;
}

.payment-select ul{
    list-style: none;
    padding-left: 0px;
}
.place-order{
    text-align: left;
}

.card-tb a{
    color: #333;
    display: block;
    margin-bottom: 5px!important;
}

.card-tb2{
    padding: 20px;
}
.cb-img img{
    padding-top: 20px;
}

.table-d{
    padding: 30px;
    background: #f5f5f5;
}


.payment-area [type="radio"]:checked,
.payment-area [type="radio"]:not(:checked) {
    position: absolute;
    opacity: 0;
}
.payment-area [type="radio"]:checked + label,
.payment-area [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.payment-area [type="radio"]:checked + label:before,
.payment-area [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.payment-area [type="radio"]:checked + label:after,
.payment-area [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ffc107;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.payment-area [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.payment-area [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.datetimepicker table {
    margin: 0;
    margin-right: 0;
    margin: auto!important;
  }

.datetimepicker td {
    width: 35px!important;
    height: 35px!important;
}

.text-uppercase th{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
}
.product-price, .product_total, .product_quantity{
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
}

.fa, .fas {
    font-size: 25px;

}

.text-dark {
    color: #01050a !important;
    font-family: "Red Hat Display", sans-serif;
}

.text-uppercase {
    text-transform: uppercase!important;
    font-family: "Red Hat Display", sans-serif;
}
.coupon_code{
    font-family: "Red Hat Display", sans-serif;

}