.top-bar {
  padding: 0px;
  font-size: 14px;
  background: #157ed2;
}
.top-bar .cnt-account {
  float: right;
  padding: 6px 0px;
}
.top-bar .cnt-account ul {
  margin: 0px;
}
.top-bar .cnt-account ul > li {
  display: inline-block;
  line-height: 12px;
  padding: 3px 12px 3px 7px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.2);
}
.top-bar .cnt-account ul > li:last-child {
  border: none;
  padding-right: 0px;
}
.top-bar .cnt-account ul > li a {
  color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  font-weight: 400;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  letter-spacing: 0.2px;
}
.top-bar .cnt-account ul > li a .icon {
  display: block;
  float: left;
  padding-right: 6px;
  font-size: 11px;
  display: none;
}
.top-bar .cnt-account ul > li a:hover,
.top-bar .cnt-account ul > li a:focus {
  text-decoration: none;
}
.top-bar .cnt-block {
  float: left;
}
.top-bar .cnt-block .list-inline {
  margin: 0px;
}
.top-bar .cnt-block .list-inline > li {
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
}
.top-bar .cnt-block .list-inline > li > a {
  padding: 7px 0px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  color: #888;
  display: inline-block;
  text-transform: capitalize;
}
.top-bar .cnt-block .list-inline > li > a .value {
  color: rgba(255, 255, 255, 0.8);
  margin: 2px 4px 2px 7px;
}
.top-bar .cnt-block .list-inline > li > a:hover,
.top-bar .cnt-block .list-inline > li > a:focus {
  text-decoration: none;
  color: #888888;
}
.top-bar .cnt-block .list-inline > li .dropdown-menu {
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  top: 125%;
  left: 5px;
  min-width: 75px;
}

.top-bar .dropdown-menu > li > a {
  padding: 3px 10px;
  font-size: 13px;
}

.top-bar .cnt-block .list-inline > li .dropdown-menu li a:hover,
.top-bar .cnt-block .list-inline > li .dropdown-menu li a:focus {
  background: rgba(0, 0, 0, 0);
}
